<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesignin.css' %}">
</head>
<body>

<div class="container">
    <h1>Sign In</h1>
    
    {% if messages %}
        <div class="alert alert-danger">
            {% for message in messages %}
                <strong>{{ message }}</strong>
            {% endfor %}
        </div>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign In</button>
    </form>
</div>

</body>
</html>



