<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta do Cliente - Tio Patinhas Bank</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleaccountpage.css' %}">
</head>
<body>

<div class="container">
    <div class="header-buttons">
        {% if not user.is_joint_account %}
        <a href="{% url 'create_joint_account' %}" class="button">Criar conta conjunta</a>
        {% endif %}
        <a href="{% url 'transaction_page' %}" class="button">Efetuar transação</a>
        <a href="{% url 'logout' %}" class="button">Sair</a>
    </div>

    <h1>Dados da Conta do Cliente</h1>
    
    <p><strong>Primeiro Nome:</strong> {{ user.first_name }}</p>
    <p><strong>Último Nome:</strong> {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Nome de Usuário:</strong> {{ user.username }}</p>
    
    <div class="balance-container">
        <div class="balance">
            <strong>Saldo:</strong> R$ {{ user.balance }}
        </div>
        <div class="blocked-balance">
            <strong>Saldo Bloqueado:</strong> R$ {{ user.blocked_balance }}
        </div>
    </div>
</div>
<script>
    {% if messages %}
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    {% endif %}
</script>

</body>
</html>
