<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transações Bancárias - Tio Patinhas Bank</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styletransactionpage.css' %}">
</head>
<body>
    <div class="container">
        <h1>Transações Bancárias</h1>
        <h2>Olá, {{ user.first_name }} {{ user.last_name }}. </h2>
        <h2>Seu saldo atual é de: R$ {{ user.balance }}</h2>

        <form method="POST" action="{% url 'transaction_page' %}">
            {% csrf_token %}
            <label for="choice">Selecione a ação:</label>
            <select id="choice" name="choice" onchange="toggleRecipientFields(this.value)">
                <option value="deposit">Deposit</option>
                <option value="transfer">Transfer</option>
                <option value="payment">Payment</option>
            </select>

            <label for="value_to_transfer">Valor:</label>
            <input type="number" step="0.01" id="value_to_transfer" name="value_to_transfer" required>

            <div id="recipient-fields" style="display: none;">
                <label for="bank_to_transfer">Bank to send:</label>
                <input type="text" id="bank_to_transfer" name="bank_to_transfer">
                <br>
                <label for="client_to_transfer">Send to:</label>
                <input type="text" id="client_to_transfer" name="client_to_transfer">
            </div>

            <button type="submit">Transfer</button>
        </form>
    </div>
    <script>
        function toggleRecipientFields(choice) {
            var recipientFields = document.getElementById('recipient-fields');
            if (choice === 'transfer' || choice === 'payment') {
                recipientFields.style.display = 'block';
            } else {
                recipientFields.style.display = 'none';
            }
        }

        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>
