<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transações Bancárias - Tio Patinhas Bank</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styletransactionpage.css' %}">
</head>
<body>
    <div class="container">
        <h1>Transações Bancárias</h1>
        <h2>Olá, {{ user.first_name }} {{ user.last_name }}. </h2>

        <ul class="balance-list">
            <li>Neste banco (this) - R$ {{ user.balance }}</li>
            {% for bank, balance in bank_balance_map.items %}
                <li>{{ bank }} - R$ {{ balance }}</li>
            {% endfor %}
        </ul>
        
        <form method="POST" action="{% url 'transaction_page' %}">
            {% csrf_token %}
            <label for="choice">Selecione a ação:</label>
            <select id="choice" name="choice" onchange="toggleRecipientFields(this.value)">
                <option value="deposit">Depositar</option>
                <option value="transfer">Transferir</option>
                <option value="payment">Efetuar pagamento</option>
            </select>

            <label for="value_to_transfer">Valor:</label>
            <input type="number" step="0.01" id="value_to_transfer" name="value_to_transfer" required>

            <div id="recipient-fields" style="display: none;">
                <label for="name_bank">Nome do banco (de acordo com os configurados acima):</label>
                <input type="text" id="name_bank" name="name_bank">
                <br>
                <label for="client_to_transfer">Cliente de destino (username):</label><br>
                <input type="text" id="client_to_transfer" name="client_to_transfer">
                <br>
                <label for="banks_values">Informe o banco e o valor (formato: this=valor,bancoB=valor):</label><br>
                <input type="text" id="banks_values" name="banks_values" required>
            </div>
            <div class="bank-field">
                
            </div>

            <button type="submit">Efetuar transação</button>
        </form>
    </div>
    <script>

        function toggleRecipientFields(choice) {
            var recipientFields = document.getElementById('recipient-fields');
            if (choice === 'transfer' || choice === 'payment') {
                recipientFields.style.display = 'block';
            } else {
                recipientFields.style.display = 'none';
            }
        }

        {% if messages %}
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        {% endif %}
    </script>
</body>
</html>
